services:
  postgres:
    image: postgres:15
    container_name: test_db
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}

  bot:
    build: .
    container_name: test_bot
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data: